<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    <queries>-->

<!--        &lt;!&ndash; List of apps which you want to support for Intent pay &ndash;&gt;-->
<!--        <package android:name="com.google.android.apps.nbu.paisa.user" />-->
<!--        <package android:name="com.phonepe.app" />-->
<!--        &lt;!&ndash;-->
<!--             Specific intents you query for,-->
<!--             eg: for a custom share UI-->
<!--        &ndash;&gt;-->
<!--        <intent>-->
<!--            <action android:name="android.intent.action.SEND" />-->
<!--        </intent>-->
<!--    </queries>-->


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plantonic"
        tools:replace="android:theme"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.ThankYouOrderActivity"
            android:exported="false"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.CheckoutActivity"
            android:exported="false"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

<!--        <receiver-->
<!--            android:name="com.razorpay.RzpTokenReceiver"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="rzp.device_token.share" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->


        <activity android:name=".ui.activity.OrderSummaryActivity"
            android:exported="false"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity android:name=".ui.activity.PaymentMethodsActivity"
            android:exported="false"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

<!--        <activity-->
<!--            android:name="com.razorpay.CheckoutActivity"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"-->
<!--            android:exported="true"-->
<!--            android:theme="@style/CheckoutTheme"-->
<!--            android:screenOrientation="nosensor">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <data-->
<!--                    android:host="rzp.io"-->
<!--                    android:scheme="io.rzp" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <meta-data-->
<!--            android:name="com.razorpay.ApiKey"-->
<!--            android:value="your_key_here" />-->


        <activity
            android:name=".ui.activity.splash.SplashScreen"
            android:exported="true"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.logInSignUp.otp.OtpVerifyActivity"
            android:exported="false"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.home.HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor">

            <tools:validation testUrl="https://plantonic.co.in/p/" />
            <tools:validation testUrl="https://plantonic.co.in/p/93bd77c0-6f9a-4580-8828-99e5383c54fe" />

            <!--<intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="plantonic.co.in"
                    android:pathPrefix="/p" />
            </intent-filter>-->

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <nav-graph android:value="@navigation/main_nav_graph"/>
        </activity>
        <activity
            android:name=".ui.activity.forget_password.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.activity.forget_password.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".ui.activity.logInSignUp.signup.SignUpActivity"
            android:screenOrientation="nosensor"
            android:exported="false" />
        <activity
            android:name=".ui.activity.logInSignUp.login.LoginActivity"
            android:screenOrientation="nosensor"
            android:exported="false" />
    </application>

</manifest>